<ion-list>
  <ion-item>
    <ion-select
      label="Space"
      [value]="$spaceID()"
      [disabled]="$disabled()"
      (ionChange)="onSpaceSelected($event)"
    >
      @for (space of $spaces(); track space.id) {
        <ion-select-option [value]="space.id">
          {{ space.brief.title || (space.brief.type | titlecase) }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>

  @if (space?.id) {
    <ion-item
      button
      [routerLink]="['/space', space.type, space.id, 'contacts']"
      (click)="closeMenu()"
    >
      <ion-icon name="people" slot="start" />
      <ion-label>Contacts</ion-label>
    </ion-item>
    <ion-item
      button
      [routerLink]="['/space', space.type, space.id, 'members']"
      (click)="closeMenu()"
    >
      <ion-icon name="person" slot="start" />
      <ion-label>Members</ion-label>
    </ion-item>
  }
</ion-list>

<sneat-auth-menu-item />
